.login-form{
  padding: 20px;
  background-color:transparent;
  width:300px;
}

.submit-button{
  background-color: goldenrod;
}

.navbar{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
}
